@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div    >
    <p class="text-center">Welcome to <a href="http://MichaelAaronson.com">MichaelAaronson.com</a></p>
    <ul>
        <li><a href="Admin">Admin</a></li>
    </ul>
</div>
