@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div    >
    <p class="text-center">Welcome to <a href="http://MichaelAaronson.com">MichaelAaronson.com</a></p>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <ul>
            <li><a asp-page="/Private/Domains/Index">Domains</a></li>
            <li><a asp-page="/Private/Goals/Index">Goals</a></li>
            <li><a asp-page="/Private/Groups/Index">Groups</a></li>
            <li><a asp-page="/Private/Jobs/Index">Jobs</a></li>
            <li><a asp-page="/Private/JobDetails/Index">JobDetails</a></li>
            <li><a asp-page="/Private/JobSkills/Index">JobSkills</a></li>
            <li><a asp-page="/Private/Persons/Index">Persons</a></li>
            <li><a asp-page="/Private/Projects/Index">Projects</a></li>
            <li><a asp-page="/Private/Steps/Index">Steps</a></li>
        </ul>
        <ul>
            <li>2026-03-03 2233</li>
            <li>Compiled: @TimeZoneInfo.ConvertTimeFromUtc(System.IO.File.GetLastWriteTimeUtc(System.Reflection.Assembly.GetExecutingAssembly().Location), TimeZoneInfo.FindSystemTimeZoneById("New Zealand Standard Time")).ToString("yyyy-MM-dd HH:mm")</li>
            <li>Hard coded: 2026-04-03.</li>
        </ul>
    }
    <p><a asp-page="/Resume/Index">Resume</a></p>

</div>
