@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div    >
    <p class="text-center">Welcome to <a href="http://MichaelAaronson.com">MichaelAaronson.com</a></p>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <ul>
            <li><a asp-page="/Private/Groups/Index">Groups</a></li>
            <li><a asp-page="/Private/Jobs/Index">Jobs</a></li>
            <li><a asp-page="/Private/JobDetails/Index">JobDetails</a></li>
            <li><a asp-page="/Private/Persons/Index">Persons</a></li>
        </ul>
    }
    <p>
        Build: @System.IO.File.GetLastWriteTime(System.Reflection.Assembly.GetExecutingAssembly().Location).ToString("yyyy-MM-dd HH:mm")
    </p>
</div>
