@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div    >
    <p class="text-center">Welcome to <a href="http://MichaelAaronson.com">MichaelAaronson.com</a></p>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <ul>
            <li>Data
                <ul>
                    <li><a asp-page="/Private/ContentEditor/Index">ContentEditor</a></li>
                    <li><a asp-page="/Data/Domains/Index">Domains</a></li>
                    <li><a asp-page="/Data/Goals/Index">Goals</a></li>
                    <li><a asp-page="/Data/Groups/Index">Groups</a></li>
                    <li><a asp-page="/Data/Images/Index">Images</a></li>
                    <li><a asp-page="/Data/Jobs/Index">Jobs</a></li>
                    <li><a asp-page="/Data/JobDetails/Index">JobDetails</a></li>
                    <li><a asp-page="/Data/JobSkills/Index">JobSkills</a></li>
                    <li><a asp-page="/Data/PersonImages/Index">PersonImages</a></li>
                    <li><a asp-page="/Data/Persons/Index">Persons</a></li>
                    <li><a asp-page="/Data/Projects/Index">Projects</a></li>
                    <li><a asp-page="/Data/Steps/Index">Steps</a></li>
                </ul>
            </li>
            <li><a asp-page="/Private/DailyTasks">DailyTasks</a></li>
            <li><a asp-page="/Private/Planning">Planning</a></li>
        </ul>
        <ul>
            <li>2026-03-03 2233</li>
            <li>Compiled: @TimeZoneInfo.ConvertTimeFromUtc(System.IO.File.GetLastWriteTimeUtc(System.Reflection.Assembly.GetExecutingAssembly().Location), TimeZoneInfo.FindSystemTimeZoneById("New Zealand Standard Time")).ToString("yyyy-MM-dd HH:mm")</li>
            <li>Hard coded: 2026-04-03 1308</li>
        </ul>
    }
    <p><a asp-page="/Resume/Index">Resume</a></p>

</div>
