@page
@model Website.Pages.Data.Images.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Image</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Image.Location" class="control-label"></label>
                <input asp-for="Image.Location" class="form-control" aria-required="true"/>
                <span asp-validation-for="Image.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.Description" class="control-label"></label>
                <input asp-for="Image.Description" class="form-control" />
                <span asp-validation-for="Image.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.Notes" class="control-label"></label>
                <input asp-for="Image.Notes" class="form-control" />
                <span asp-validation-for="Image.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.DateTaken" class="control-label"></label>
                <input asp-for="Image.DateTaken" class="form-control" />
                <span asp-validation-for="Image.DateTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
