@page
@model Website.Pages.Admin.IndexModel
@{
}
<h1>Admin</h1>

<ul>
<li><a href="/Admin/Diagnostics">Diagnostics</a></li>
<li><a href="/Admin/ImageSync">ImageSync</a></li>
<li><a href="Persons/Index.html">Persons</a></li>
</ul>

