@page
@model Website.Pages.Devel.IndexModel
@{
}
<h1>Devel Index</h1>
<a href="c:\users\micha\source\repos\michaelaaronsoncom\2025-11\michaelaaronsoncom\website\pages\devel\gridsandcards\playnumbersandbox.cshtml">c:\users\micha\source\repos\michaelaaronsoncom\2025-11\michaelaaronsoncom\website\pages\devel\gridsandcards\playnumbersandbox.cshtml</a>
<a href="c:\users\micha\source\repos\michaelaaronsoncom\2025-11\michaelaaronsoncom\website\pages\devel\gridsandcards\playnumbersandbox.cshtml.cs">c:\users\micha\source\repos\michaelaaronsoncom\2025-11\michaelaaronsoncom\website\pages\devel\gridsandcards\playnumbersandbox.cshtml.cs</a>
<link href="c:\users\micha\source\repos\michaelaaronsoncom\2025-11\michaelaaronsoncom\website\pages\devel\gridsandcards\playnumbersandbox.cshtml.css" rel="stylesheet" />